<div class="card" style="direction:rtl">
      <div class="card-body">
        <table class="table table-head-custom table-vertical-center overflow-hidden">
          <thead>
            <tr style="background: #ededed;">
              <th style="text-align: center;">عنوان نقش</th>
              <th style="text-align: center;">نام نقش</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of roleList">
              <td style="text-align:center;">{{item.roleTitle}}</td>
              <td style="text-align:center;">{{item.roleName}}</td>
              <td>
                <a class="badge badge-warning" (click)="updateRole(item.id)">
                  ویرایش
                </a>
                <a class="badge badge-danger" (click)="deleteRole(item)">
                  حذف
                </a>
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn btn-primary" (click)="addRole()">
                  <i class="fa fa-edit">جدید</i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
</div>

