<ng-container>
  <ng-container>
    <ng-container>
      <div class="topbar-item">
        <div class="btn btn-icon btn-icon-mobile w-auto btn-clean d-flex align-items-center btn-lg px-2"
             id="kt_quick_user_toggle">
          <span class="text-muted font-weight-bold font-size-base d-none d-md-inline mr-1">خوش آمدید</span>
          <span class="text-dark-50 font-weight-bolder font-size-base d-none d-md-inline mr-3">{{ currentUser.userTitle }}</span>

          <!--<ng-template [ngIf]="userProfileImage != null" [ngIfElse]="defaultImage">
            <div>
              <img id="userProfileImg"
                   [src]="userProfileImage"
                   width="50"
                   height="50"
                   style="border-radius: 50%;margin-top: 5px;">
            </div>
          </ng-template>-->
          <!--<ng-template #defaultImage>
            <div>
              <img src="./../../../../../assets//media/users/ProfilePic.jpg"
                   alt=""
                   style="border-radius: 50%;margin-top:5px;width:40px;height:40px;">
            </div>
          </ng-template>-->
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
